<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>691277725181-css25nkma4r8ctr0tangtkar6orutu8g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.691277725181-css25nkma4r8ctr0tangtkar6orutu8g</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>691277725181-u33ln119c5jmc19rjme5me39ed2orl8v.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAJRYsGug-D4-EWzT-9v0FE5J8yCvseB_Y</string>
	<key>GCM_SENDER_ID</key>
	<string>691277725181</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginTemplateFirebase</string>
	<key>PROJECT_ID</key>
	<string>rollplus-d7cf3</string>
	<key>STORAGE_BUCKET</key>
	<string>rollplus-d7cf3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:691277725181:ios:a9f42b0f3ec84dbe0e2d94</string>
</dict>
</plist>